<footer id="footer" class="footer">
    <div class="footer-container">
      <div class="footer-column">
        <h3>Company</h3>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Privacy Policies</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Terms of Services</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h3>Help</h3>
        <ul>
          <li><a href="#">Account Support</a></li>
          <li><a href="#">Listing Events</a></li>
          <li><a href="#">Event Ticketing</a></li>
          <li><a href="#">Ticket Purchase Terms and Conditions</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h3>Follow Us</h3>
        <div class="social-icons">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <hr>
      <p>&copy; 2025 BEvent. All rights reserved.</p>
    </div>

  </footer>