<h1>Benvenuto nella Dashboard dell'Amministratore</h1>

<%= link_to 'Gestisci Utenti', admin_users_path, class: 'btn btn-primary' %>
<%= link_to 'Gestisci Eventi', admin_events_path, class: 'btn btn-primary' %>