<div class="admin-dashboard-container">
  <h1 class="admin-dashboard-title">Benvenuto nella Dashboard dell'Amministratore</h1>
  
  <div class="admin-dashboard-actions">
    <%= link_to 'Gestisci Utenti', admin_users_path, class: 'admin-dashboard-btn' %>
    <%= link_to 'Gestisci Eventi', admin_events_path, class: 'admin-dashboard-btn' %>
  </div>
</div>