body.unlocks {
    font-family: 'Heebo', sans-serif;
    height: 100vh;
    display: flex;
    margin: 0;
    border: 0;
}

.unlocks .design {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unlocks .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.unlocks .pass {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

@media (max-width: 768px) {
    body.unlocks {
        flex-direction: column;
    }

    .unlocks .design {
        display: none;
    }

    .unlocks .pass {
        width: 100%;
    }
}

.unlocks .title {
    width: 206.4px;
    font-family: "Jomhuria", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    height: 135px;
    line-height: 0.7;
}

.unlocks .txt-field {
    background: #e9e9e9;
    height: 40px;
    display: flex;
    width: 80%;
    align-items: center;
    border-radius: 5px;
    padding: 0 15px;
    margin: 15px 0;
}

.unlocks .txt-field input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}

.unlocks .btn-submit{
    width: calc(80% + 30px);
    padding: 0 0px;
    margin: 15px 0px;
    height: 40px;
    border-radius: 45px;
    background: #04A777;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.unlocks .line{
    width: calc(80% + 30px);
    height: 1px; 
    background-color: #333;
}

.unlocks .google_oauth2-form{
    width: 206.400px;
}

.unlocks .omniauth-button{
    margin: 15px 0px;
    margin-left: 8px;
    padding-right: 8px;
}


.unlocks .sgnp {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 206.4px;
    display: inline-flex;
    justify-content: right;
}

.unlocks .informative{
    font-family: Heebo;
    font-size: 12px;
}

.unlocks .signup-link{
    color: #0075A2;
    text-align: right;
    font-family: Heebo;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-right: 15px;
    margin-left: 2px;
}

.unlocks .lgn {
    margin-bottom: 10px;
    width: 206.4px;
    display: inline-flex;
    justify-content: right;
}

.unlocks .login-link{
    color: #0075A2;
    text-align: right;
    font-family: Heebo;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-right: 15px;
    margin-left: 2px;
}

/*-------------Errori----------- */

.unlocks #error_explanation {
    background: #F44336;
    border: 1px solid red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    width: 80%;
    max-width: 400px;
    justify-content: center;
}


.unlocks #error_explanation h2 {
    font-size: 16px;
    font-weight: bold;
    color: darkred;
    margin-bottom: 5px;
}

.unlocks #error_explanation ul {
    padding-left: 20px;
}

.unlocks #error_explanation li {
    font-size: 14px;
}



.unlocks .field_with_errors input::placeholder {
    color: red;
    opacity: 0.7;
}

.unlocks #error_explanation {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
}