<p>Hai ricevuto una nuova richiesta di assistenza da <strong><%= @user.email %></strong>.</p>

<p><strong>Oggetto:</strong> <%= @subject %></p>

<p><strong>Messaggio:</strong></p>
<p><%= @message %></p>

