
body {
    background: white;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.page {
    background: white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.brand{
    background: none;
}

.home-container{
    padding-top: 60px;
    flex: 1;
}


/*------------BANNER------------------*/
.hero {
    width: 100%;   
    height: 400px;  
    overflow: hidden; 
    position: relative; /*testo rispetto al .hero */
}

.hero-image {
    width: 100%;   
    height: 100%;  
    object-fit: cover;  
    transition: transform 0.5s ease;
}

.hero:hover .hero-image {
    transform: scale(1.02); 
}

.hero-text {
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%); /*centra esattamente */
    color: white;  
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0);
    padding: 15px 30px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    width: 80%;
    max-width: 800px;
}

/*------------CARD EVENTI------------------*/

.events.index .events-section{
    padding: 20px 50px;
    margin-top: 40px;
}

.events.index .container-title{
    font-family: 'Montserrat';
    color: #04A777;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

/*.events.index .container-title::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50%;
    height: 3px;
    background: #04A777;
    border-radius: 3px;
}*/


/*.events.index .event-container{
    margin-left: 50px;
}*/

.event-category-cont{
    margin-bottom: 50px;
}

.events.index .events-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    margin-top: 20px;
}


.event-card-link {
    text-decoration: none;
    color: inherit;
}
  
/*.event-card-link:hover {
    cursor: pointer;
}*/

.events.index .event-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 332px;
    border-radius: 15px;
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-bottom: 20px;
    
}

.events.index .event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.events.index .event-design {
    height: 55%;
    overflow: hidden;
}

.events.index .event-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.4s ease;
}

.events.index .event-card:hover .event-image {
    transform: scale(1.05);
}

.events.index .event-frame {
    height: 45%;
    padding: 0 15px 0 15px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "date details";
    align-items: center;
}

.events.index .event-date {
    grid-area: date;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    min-width: 60px;
}


.event-date .month {
    font-size: 1.25rem; 
    text-transform: uppercase;
    font-family: 'Montserrat';
    color: #0075A2;
}

.event-date .day {
    font-size: 1rem;
    color: #5D5D5D;
}

.event-details {
    grid-area: details;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    font-size: 1.125rem; 
    row-gap: 5px; 
}

.event-title {
    font-size: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 1.2; /*spazio tra le righe */
    word-wrap: break-word; /*andare a capo titolo*/
    max-width: 100%;
}

/*altre info */
.event-location,
.event-time,
.event-price {
    font-size: 12px;
    width: 100%;
    color: #5D5D5D;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.event-title[href] { /* Stile per il link "Vedi di più" */
    display: inline-block;
    margin-top: 15px;
    color: #04A777;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    padding: 8px 15px;
    border: 2px solid #04A777;
    border-radius: 8px;
    transition: all 0.3s ease;
}
  
.event-title[href]:hover {
    background: #04A777;
    color: white;
    transform: translateY(-2px);
}

.category-explore{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .events.index .hero {
      height: 300px;
    }
  
    .events.index .hero-text {
      font-size: 1.8rem;
      width: 90%;
      padding: 10px;
    }
  
    .events.index .events-section {
      padding: 20px;
    }
  
    .events.index .events-grid {
      grid-template-columns: 1fr; /* Una colonna su mobile */
    }
  
    .events.index .container-title {
      font-size: 1.5rem;
    }
}




/*------------------------------------------------NUOVO-----------------------------*/

.events.new .pg {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    padding-top: 64px;
}

.events.new .page-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.events.new .page-back i{
    font-size: 24px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.events.new .page-back i:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease;
}





.events.new .new-content{
    width: 100%;
    margin-right: 100px;
}


.events.new .progress-container {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}
  
/* Progressbar */

:root {
    --primary-color: #0075A2;
}
  
/* Applica questi stili solo alla pagina .events.new */
.events.new *,
.events.new *::before,
.events.new *::after {
    box-sizing: border-box;
}

.events.new .progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
}

.events.new .progressbar::before,
.events.new .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
}

.events.new .progress {
    background-color: #0075A2;
    width: 0%;
    transition: 0.3s;
}

.events.new .progress-step {
    width: 1rem;
    height: 1rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events.new .progress-step::before {
    counter-increment: step;
}

.events.new .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
}

.events.new .progress-step-active {
    background-color: #0075A2;
    color: #f3f3f3;
}

/* Form */
.events.new .form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}

.events.new .form-step-active {
    display: block;
}

@keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
}

.events.new .ev-content{
    margin-top: 100px;
    height: 100%;
}


.events.new .container-details{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.events.new .form-step input,
.events.new .form-step textarea{
    width: 800px;
    height: 30px;

}

.events.new .form-step textarea{
    height: 200px;
}

.events.new .form-step select {
    background-color: white;

}

.events.new .c-tempo {
    display: flex;
    flex-direction: row;
    gap: 5px;

}


.events.new .form-step input,
.events.new .form-step textarea,
.events.new .form-step select {
    border: 1px solid #acacac;
    border-radius:8px;
    font-size: 12px;
    font-family: "Open Sans";
    

}

.events.new .form-step h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 167px;
}

.events.new .form-step label{
    font-size: 20px;
}

.events.new .zona{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.events.new .campo,
.events.new .form-group{
    display: flex;
    align-items: center; /* Allinea verticalmente le etichette e gli input */
    gap: 20px; /* Spazio tra l'etichetta e l'input */
    margin-top: 20px;
}

.events.new .campo label,
.events.new .form-group label{
    flex: 0 0 150px; /* Larghezza fissa per le etichette */
    text-align: right; /* Allinea il testo delle etichette a destra */
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.events.new .campo input[type="checkbox"] {
    width: 30px; /* Dimensione standard per i checkbox */
    height: 30px;
    margin-right: auto; /* Lo sposta a sinistra in linea con gli altri input */
}

/* Bottoni */

.events.new .form-step button{
    background: #0075A2;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat";
    font-size: 20px;
    margin-right: 30px;
    margin-top: 60px ;
    margin-left: 30px;
    margin-bottom: 70px;
    transition: 0.3s;
}

.events.new .form-step button:hover {
    background: #034c68;
}

.events.new .sbm-btn input{
    background: #04A777;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat";
    font-size: 20px;
    margin-right: 30px;
    margin-top: 60px ;
    margin-left: 30px;
    margin-bottom: 70px;
    transition: 0.3s;
    width: 115px;
    height: 44px;

}
.events.new .sbm-btn input:hover{
    background: #036245;
}

/*-----------------------------------------------CREATE-----------------------------*/
.events.create .pg {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    padding-top: 64px;
}

.events.create .page-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.events.create .page-back i{
    font-size: 24px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.events.create .page-back i:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease;
}





.events.create .new-content{
    width: 100%;
    margin-right: 100px;
}


.events.create .progress-container {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}
  
/* Progressbar */

:root {
    --primary-color: #0075A2;
}
  
/* Applica questi stili solo alla pagina .events.create */
.events.create *,
.events.create *::before,
.events.create *::after {
    box-sizing: border-box;
}

.events.create .progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
}

.events.create .progressbar::before,
.events.create .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
}

.events.create .progress {
    background-color: #0075A2;
    width: 0%;
    transition: 0.3s;
}

.events.create .progress-step {
    width: 1rem;
    height: 1rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events.create .progress-step::before {
    counter-increment: step;
}

.events.create .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
}

.events.create .progress-step-active {
    background-color: #0075A2;
    color: #f3f3f3;
}

/* Form */
.events.create .form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}

.events.create .form-step-active {
    display: block;
}

@keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
}

.events.create .ev-content{
    margin-top: 100px;
    height: 100%;
}


.events.create .container-details{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.events.create .form-step input,
.events.create .form-step textarea{
    width: 800px;
    height: 30px;

}

.events.create .form-step textarea{
    height: 200px;
}

.events.create .form-step select {
    background-color: white;

}

.events.create .c-tempo {
    display: flex;
    flex-direction: row;
    gap: 5px;

}


.events.create .form-step input,
.events.create .form-step textarea,
.events.create .form-step select {
    border: 1px solid #acacac;
    border-radius:8px;
    font-size: 12px;
    font-family: "Open Sans";
    

}

.events.create .form-step h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 167px;
}

.events.create .form-step label{
    font-size: 20px;
}

.events.create .zona{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.events.create .campo,
.events.create .form-group{
    display: flex;
    align-items: center; /* Allinea verticalmente le etichette e gli input */
    gap: 20px; /* Spazio tra l'etichetta e l'input */
    margin-top: 20px;
}

.events.create .campo label,
.events.create .form-group label{
    flex: 0 0 150px; /* Larghezza fissa per le etichette */
    text-align: right; /* Allinea il testo delle etichette a destra */
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.events.create .campo input[type="checkbox"] {
    width: 30px; /* Dimensione standard per i checkbox */
    height: 30px;
    margin-right: auto; /* Lo sposta a sinistra in linea con gli altri input */
}

/* Bottoni */

.events.create .form-step button{
    background: #0075A2;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat";
    font-size: 20px;
    margin-right: 30px;
    margin-top: 60px ;
    margin-left: 30px;
    margin-bottom: 70px;
    transition: 0.3s;
}

.events.create .form-step button:hover {
    background: #034c68;
}

.events.create .sbm-btn input{
    background: #04A777;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat";
    font-size: 20px;
    margin-right: 30px;
    margin-top: 60px ;
    margin-left: 30px;
    margin-bottom: 70px;
    transition: 0.3s;
    width: 115px;
    height: 44px;

}
.events.create .sbm-btn input:hover{
    background: #036245;
}