.events.show .page {
    font-family: "Open Sans";
    background-color: #fff;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 8% 92%;
    grid-template-areas:"back content";
    padding-top: 64px;
}

.events.show .show-back {
    grid-area: back;
}

.events.show .show-back a{
    text-decoration: none;
    color: inherit;
}

.events.show .show-back i{
    font-size: 30px;
    margin-left: 20px;
    margin-top: 20px;
}

.events.show .show-back i:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease;
}

.events.show .show-page {
    grid-area: content;
    font-family: "Open Sans";
    background-color: #fff;
    min-height: 100%;
    max-width: calc(100% - 80px);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    box-sizing: border-box; 
}

.events.show .banner-image{
    width: 100%;
    max-height: 456px;
    border-radius: 15px;
}

.events.show .banner-image img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
}

.events.show .event-container {
    display: flex;
    flex-direction: column;
}

.events.show .event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.events.show .event-title {
    font-size: 40px;
    font-weight: normal;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 1.2; /*spazio tra le righe */
    word-wrap: break-word; /*andare a capo titolo*/
    max-width: 60%;
}

.events.show .event-icons i {
    font-size: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.events.show .heart-icon:hover {
    transform: scale(1.1);
}

.events.show .favorited { 
    color: #F97068; /* Cambia il colore a rosso quando è attivato */
}

.events.show .heart-icon {
    transition: transform 0.2s ease, color 0.2s ease;
}

.events.show .heart-icon.animated {
    transform: scale(1.3);
}

.events.show .share-icon:hover {
    transform: scale(1.1); /* Effetto pop */
}

.events.show .share-icon {
    transition: transform 0.2s ease; /* Transizione morbida */
}

.events.show .share-icon.animated {
    transform: scale(0.8); /* Effetto pop */
}


.events.show .copy-notification {
    position: absolute;
    background-color: #04A777;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-out;
    z-index: 1000;
    transform: translateY(-10px) scale(1);
}

.events.show .copy-notification.fade-out {
    opacity: 0;
    transform: translateY(-20px) scale(0.9);
}



.events.show .event-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 0px;
}

.events.show .info-temporale{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 25px;
}
.events.show .info-temporale p{
    font-size: 16px;
}

.events.show .info-date {
    font-size: 16px;
    margin-right: 8px ;
}
.events.show .info-time {
    font-size: 16px;
    margin-left: 15px;
    margin-right: 8px;
}

.events.show .tckt-info {
    margin-top: 20px;
}

.events.show .tckt-div {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 8px;
}

.events.show .buy-btn {
    background-color: #04A777;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Montserrat";
}

.events.show .buy-btn:hover {
    background-color: #04a72d;
    transform: scale(0.9); /* Effetto pop */
    transition: transform 0.2s ease;
}

.events.show .event-location, 
.events.show .event-host, 
.events.show .event-description, 
.events.show .tags, 
.events.show .others {
    margin-top: 20px;
}

.events.show .event-host{
    margin-top: 50px;
}

.events.show .event-location {
    font-size: 18px;
    margin-top: 50px;
    width: 100%;
    color: black;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.events.show .event-location p{
    margin-top: 10px;
    font-size: 16px;
}

.events.show .info-loc i{
    margin-right: 8px;
}

.events.show .host-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.events.show .host-details{
    display: flex;
    flex-direction: row;
}

.events.show .host-image {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.events.show .follow-btn {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}


.events.show  .event-description{
    margin-top: 50px;
}

.events.show  .info-desc{
    margin-top: 15px;
}


.events.show .tags {
    margin-top: 50px;
}

.events.show .tag-list {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.events.show .tag {
    background-color: #e0e0e0;
    padding: 5px 10px;
    border-radius: 20px;
}

.events.show .event-suggestions {
    display: flex;
    gap: 20px;
}

.events.show .event-card{
    width: 400px;
    height: 154px;
    display: grid;
    grid-template-columns: 47% 53%;
    grid-template-areas: "image details";
    border-radius: 15px;
    background: #ffffff;
    overflow: hidden;

}

.events.show .event-design{
    grid-area: image;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.events.show .event-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.events.show .event-frame{
    padding: 5px;
    grid-area: details;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    gap: 1px;
}



.events.show .other-event-title {
    font-size: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 1.2; /*spazio tra le righe */
    word-wrap: break-word; /*andare a capo titolo*/
    max-width: 100%;
}

.events.show .other-month {
    color: #5D5D5D;
    font-size: 12px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.events.show .other-day {
    color: #5D5D5D;
    font-size: 12px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

/*altre info */
.events.show .other-event-location,
.other-event-time,
.other-event-price,
.other-event-date {
    font-size: 12px;
    width: 100%;
    color: #5D5D5D;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.events.show .others{
    margin-top: 50px;
}