<h1>Pagamento non riuscito</h1>

<div class="alert alert-danger">
<%= flash[:alert] = "Si è verificato un errore durante il pagamento. Riprova più tardi." %>
</div>

<p>Ci dispiace, ma il pagamento non è andato a buon fine. Riprova più tardi.</p>

<%= button_to checkouts_create_path, data: { turbo: false }, class: "btn proceed-btn" do %>
  Riprova il pagamento <i class="fa-solid fa-chevron-right"></i>
<% end %>
<%= link_to "Torna alla homepage", root_path %>