<p>Ciao <%= @user.email %>,</p>

<p>Volevamo informarla che abbiamo modificato alcune informazioni dell'evento che hai comprato!</p>

<p> L'evento è <%= @event.title %> </p>

<p>Ci scusiamo per il disagio</p>
