/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&family=Jomhuria&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 *,html,body{
    margin: 0;
    border: 0;
}

body{
    font-family: 'Heebo', sans-serif
}



/*-------------------------Messaggi di errore------------------*/

.flash-messages {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    width: 80%;
    max-width: 400px;
}

.flash {
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}

.flash.notice {
    background-color: #4CAF50; 
}

.flash.alert {
    background-color: #F44336; 
}


/*-----------------------------------------------------NAVBAR--------------------------------------------------------*/

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: white;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: left;

}

/*logo*/
.brand{  /*logo*/
    padding-left: 10px;
    
}

/*barra di ricerca*/
.search-bar{ 
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px 0px 5px 10px;
    background-color: #eaeaea;
    width: 455px; 
    height: 28px;
    margin: 0 auto 0 20px; 
    overflow: hidden; 
}

.search-bar-placeholder{
    border-radius: 10px;
    padding: 5px 0px 5px 10px;
    background-color: white;
    width: 455px; 
    height: 28px;
    margin: 0 auto 0 20px; 
}

.search-input {
    flex: 1;
    background-color: #eaeaea;
}

.search-field {
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    background-color: #eaeaea;
}
.search-divider {
    width: 1px;
    height: 30px;
    background-color: #ccc;
    margin: 0 10px;
}

.search-dropdown {
    position: relative;
}

.city-dropdown {
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    color: #333;
}
.city-dropdown option:disabled {
    color: #999; 
}

.search-button {
    background-color: #04A777;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    overflow: hidden;
    margin-left: -1px;

}
.search-button:hover {
    background-color: #03976b;
}


/*link di navigazione*/
.nav-link {
    font-family: 'Heebo';

    font-weight: 800;
    text-decoration: none; 
    color: #000; 
    font-size: 22px; 
    transition: none; 
    padding-right: 40px;
}

/*bottone lingua*/
.switch-lan {
    position: relative;
    width: 120px;
    height: 30px;
    background-color: #F97068;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.switch-lan:hover {
    background-color: #f13e35; 
}

.toggle-btn {
    position: absolute;
    width: 50%;
    height: 80%;
    background-color: white;
    border-radius: 15px;
    transition: transform 0.3s;
    left: 5px;
}
.ita-btn {
    flex: 1;
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: 'Heebo', sans-serif;
    position: relative;
    z-index: 1;
}
.eng-btn {
    flex: 1;
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: 'Heebo', sans-serif;
    position: relative;
    z-index: 1;
}
.switch-lan.active {
    background-color: #F97068;
}

.switch-lan.active:hover {
    background-color: #f13e35; 
}

.switch-lan.active .toggle-btn {
    transform: translateX(85%);
}

/*Bottone Carrello*/
.cart-container {
    position: relative;
    background: none;
    padding:0 40px 0 0;
}
.cart-container .cart-link:hover {
    background: none;
    cursor: default;
}

.cart-container .cart-link{
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
    border-radius: 5px;
}

.cart-container i {
    font-size: 22px;
    cursor: pointer;
}

.cart-container i:hover{
    color: #04A777;
}

/*Bottone Carrello*/
.create-container {
    position: relative;
    background: none;
    padding:0 20px 0 20px;
}

.cart-container .create-link{
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
    border-radius: 5px;
}

.create-container .create-link:hover {
    background: none;
    cursor: default;
}

.create-container i {
    font-size: 20px;
    cursor: pointer;
}

.create-container i:hover{
    color: #04A777;
}




/*Icona profilo*/
.profile-menu {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 20px;
}


.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

/* dropdown nascosto inizialmente */
.dropdown-content {
    position: absolute;
    top: 50px;
    right: 0;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 180px;
    display: none;
    flex-direction: column;
    padding: 10px;
}

.dropdown-content.active {
    display: flex;
}

.dropdown-item {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
    border-radius: 5px;
}

.dropdown-item:hover {
    background: #f4f4f4;
}

.logout-button {
    background: none;
    border: none;
    color: red;
    text-align: left;
    cursor: pointer;
    padding: 10px;
    width: 100%;
}



/*------------------------------------------------------------FOOTER--------------------------------------------------------*/
.footer {
    background-color: #009E60; 
    color: white;
    width: 100%;
    padding: 30px 0;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    text-align: center;
    min-width: 200px;
}

.footer-column h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin: 5px 0;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a {
    color: white;
    font-size: 20px;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    position: relative;
}

.footer-bottom hr {
    width: 90%;
    border: 0;
    height: 1px;
    background: white;
    margin: 10px auto;
}

/*Responsive*/
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        margin-bottom: 20px;
    }
}





