
body {
    background: white;
}

.page {
    background: white;
    width: 100%;
    height: 100%;
}

.brand{
    background: none;
}

.home-container{
    padding-top: 60px;
}


/*------------BANNER------------------*/
.hero {
    width: 100vw;   
    height: 400px;  
    overflow: hidden; 
    position: relative; /*testo rispetto al .hero */
}

.hero-image {
    width: 100%;   
    height: 100%;  
    object-fit: cover;  
    position: absolute;
    top: 0;
    left: 0;
}

.hero-text {
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-90%, -50%); /*centra esattamente */
    color: white;  
    font-size: 32px;  
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* leggibilità */
    background: rgba(0, 0, 0, 0);
    padding: 10px 20px; 
    border-radius: 10px;
}

/*------------CARD EVENTI------------------*/
.events.index .container-title{
    font-family: 'Montserrat';
    color: #04A777;
    font-size: 35.467px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.events.index .events-section{
    margin-top: 40px;
}

.events.index .event-container{
    margin-left: 50px;
}

.events.index .events-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.event-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  
  .event-card-link:hover {
    cursor: pointer;
  }

.events.index .event-card{
    display: grid;
    grid-template-rows: 55% 45%;
    grid-template-areas:
    "image"
    "frame";
    width: 390px;
    height: 332px;
    border-radius: 15px;
    background: #ffffff;
    overflow: hidden;
}

.events.index .event-design {
    grid-area: image;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.events.index .event-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.events.index .event-frame {
    grid-area: frame;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "date details";
    align-items: center;
}

.events.index .event-date {
    grid-area: date;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}


.event-date .month {
    font-size: 20px; 
    text-transform: uppercase;
    font-family: 'Montserrat';
    color: #0075A2;
}

.event-date .day {
    font-size: 16px;
}

.event-details {
    grid-area: details;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    font-size: 18px; 
    row-gap: 5px; 
}

.event-title {
    font-size: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 1.2; /*spazio tra le righe */
    word-wrap: break-word; /*andare a capo titolo*/
    max-width: 100%;
}

/*altre info */
.event-location,
.event-time,
.event-price {
    font-size: 12px;
    width: 100%;
    color: #5D5D5D;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}