body.users.favourite{
    height: 100%;
    margin: 0;
    padding: 0;
}

.users.favourite .page{
    flex: 1;
    min-width: 100vw;
    min-height: 100vh;
    margin-top: 64px;
    padding-top: 45px;
}

.users.favourite .wrap-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.users.favourite .fa-arrow-left{
    margin-right: 35px;
    margin-left: 25px;
    font-size: 22px;
}


.users.favourite .fa-arrow-left:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease;
}


.users.favourite .favourite-page{
    padding-top: 60px;
    padding: 110px;
    flex: 1;
    display: grid;
    grid-template-rows: 50% 50%; /* Divisione della pagina */
    grid-template-columns: auto auto auto;
    grid-template-areas: "r1c1 r1c2 r1c3" "r2c1 r2c2 r2c3";
    min-width: 100vw;
    min-height: 100vh;
}


.users.favourite .event-card{
    display: grid;
    grid-template-rows: 55% 45%;
    grid-template-areas:
    "image"
    "frame";
    width: 390px;
    height: 332px;
    border-radius: 15px;
    background: #ffffff;
    overflow: hidden;
}

.users.favourite .event-design {
    grid-area: image;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.users.favourite .event-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.users.favourite .event-frame {
    grid-area: frame;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "date details";
    align-items: center;
}

.users.favourite .event-date {
    grid-area: date;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}


.users.favourite .month {
    font-size: 20px; 
    text-transform: uppercase;
    font-family: 'Montserrat';
    color: #0075A2;
}

.users.favourite .day {
    font-size: 16px;
}

.users.favourite .event-details {
    grid-area: details;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    font-size: 18px; 
    row-gap: 5px; 
}

.users.favourite .event-title {
    font-size: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 1.2; /*spazio tra le righe */
    word-wrap: break-word; /*andare a capo titolo*/
    max-width: 100%;
}

/*altre info */
.event-location,
.event-time,
.event-price {
    font-size: 12px;
    width: 100%;
    color: #5D5D5D;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}