.users.show .page-show{
    font-family: 'Heebo';
    background-color: red;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    display: grid;
    grid-template-rows: 8% 92%;
    grid-template-areas:"back""content";
}
