body.sessions.new {
    font-family: 'Heebo', sans-serif;
    height: 100vh;
    display: flex;
    margin: 0;
    border: 0;
}

/* Sezione sinistra con l'immagine */
.sessions.new .design {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightblue;
}

.sessions.new .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}

/* Sezione destra con il form */
.sessions.new .login {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

/* Adattamento per schermi piccoli */
@media (max-width: 768px) {
    body.sessions.new {
        flex-direction: column;
    }

    .sessions.new .design {
        display: none;
    }

    .sessions.new .login {
        width: 100%;
    }
}


.sessions.new .title {
    width: auto;
    font-family: "Jomhuria", serif;
    font-size: 150px;
    height: 135px;
}

.sessions.new .txt-field {
    background: #e9e9e9;
    height: 40px;
    display: flex;
    width: 80%;
    align-items: center;
    border-radius: 5px;
    padding: 0 15px;
    margin: 15px 0;
}

.sessions.new .txt-field input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}

/* Checkbox */
.sessions.new .chckbox-field {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    cursor: pointer;
    gap: 4px;
}

.sessions.new .chckbox-field input[type="checkbox"] {
    display: none;
}

.sessions.new .checkmark {
    width: 15px;
    height: 15px;
    background-color: #e9e9e9;
    border: 2px solid #ccc;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sessions.new .chckbox-field:hover .checkmark {
    background-color: #d1d1d1;
}

.sessions.new .chckbox-field input[type="checkbox"]:checked + .checkmark {
    background-color: #04A777;
    border-color: #04A777;
}

.sessions.new .chckbox-field input[type="checkbox"]:checked + .checkmark::after {
    content: "✔";
    font-size: 12px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sessions.new .chckbox-field .remember-label{
    font-size: 10px;
    cursor: pointer;
    color: #000;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sessions.new .optional {
    width: calc(30px + 80%);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "check pass";
}

.sessions.new .psswrd-link {
    display: flex;
    justify-content: right;
    align-items: center;
}

/* Bottone di invio */
.sessions.new .btn-submit {
    width: calc(80% + 30px);
    height: 40px;
    border-radius: 45px;
    background: #04A777;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    margin: 15px 0;
}

/* Linea divisoria */
.sessions.new .line {
    width: calc(80% + 30px);
    height: 1px;
    background-color: #333;
}

/* Link password dimenticata */
.sessions.new .forgot-password-link {
    color: #0075A2;
    font-size: 8px;
    font-weight: 800;
    margin-left: 55%;
}

/* Pulsante Google */
.sessions.new .google_oauth2-form {
    width: 206.4px;
}

.sessions.new .omniauth-button {
    margin: 15px 0;
    margin-left: 8px;
    padding-right: 8px;
}

/* Registrazione */
.sessions.new .sgnp {
    width: 206.4px;
    display: inline-flex;
    justify-content: right;
}

.sessions.new .informative {
    font-size: 12px;
}

.sessions.new .signup-link {
    color: #0075A2;
    font-size: 12px;
    font-weight: 800;
    margin-right: 15px;
    margin-left: 2px;
}